// Avatars
.avatar {
  @include avatar-base();
  background: $avatar-bg;
  border-radius: 50%;
  color: $avatar-color;
  display: inline-block;
  font-weight: 300;
  line-height: 1.25;
  margin: 0;
  position: relative;
  vertical-align: middle;

  &.avatar-xs {
    @include avatar-base($avatar-size-xs);
  }
  &.avatar-sm {
    @include avatar-base($avatar-size-sm);
  }
  &.avatar-lg {
    @include avatar-base($avatar-size-lg);
  }
  &.avatar-xl {
    @include avatar-base($avatar-size-xl);
  }

  img {
    border-radius: 50%;
    height: 100%;
    position: relative;
    width: 100%;
    z-index: $avatar-zindex;
  }

  .avatar-icon,
  .avatar-presence {
    background: $avatar-icon-bg;
    bottom: 14.64%;
    height: 50%;
    padding: $avatar-icon-padding;
    position: absolute;
    right: 14.64%;
    transform: translate(50%, 50%);
    width: 50%;
    z-index: $avatar-icon-zindex;
  }

  .avatar-presence {
    background: $avatar-presence-bg;
    box-shadow: $avatar-presence-box-shadow;
    border-radius: 50%;
    height: $avatar-presence-size;
    width: $avatar-presence-size;

    &.online {
      background: $avatar-presence-bg-online;
    }

    &.busy {
      background: $avatar-presence-bg-busy;
    }

    &.away {
      background: $avatar-presence-bg-away;
    }
  }

  &[data-initial]::before {
    color: currentColor;
    content: attr(data-initial);
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: $avatar-zindex;
  }
}
