// Bars
.bar {
  background: $bar-bg;
  border-radius: $bar-border-radius;
  display: flex;
  flex-wrap: nowrap;
  height: $bar-height;
  width: 100%;

  &.bar-sm {
    height: $bar-height-sm;
  }

  // TODO: attr() support
  .bar-item {
    background: $bar-item-bg;
    color: $bar-item-color;
    display: block;
    font-size: $bar-item-font-size;
    flex-shrink: 0;
    line-height: $bar-item-line-height;
    height: 100%;
    position: relative;
    text-align: center;
    width: 0;

    &:first-child {
      border-bottom-left-radius: $bar-border-radius;
      border-top-left-radius: $bar-border-radius;
    }
    &:last-child {
      border-bottom-right-radius: $bar-border-radius;
      border-top-right-radius: $bar-border-radius;
      flex-shrink: 1;
    }
  }
}

// Slider bar
.bar-slider {
  height: $bar-slider-height;
  margin: $bar-slider-margin;
  position: relative;

  .bar-item {
    left: 0;
    padding: 0;
    position: absolute;
    &:not(:last-child):first-child {
      background: $bar-slider-item-bg;
      z-index: $bar-slider-item-zindex;
    }
  }

  .bar-slider-btn {
    background: $bar-slider-btn-bg;
    border: 0;
    border-radius: 50%;
    height: $bar-slider-btn-size;
    padding: 0;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(50%, -50%);
    width: $bar-slider-btn-size;

    &:active {
      box-shadow: $bar-slider-btn-box-shadow;
    }
  }
}
