// Breadcrumbs
.breadcrumb {
  list-style: none;
  margin: $breadcrumb-margin;
  padding: $breadcrumb-padding;

  .breadcrumb-item {
    color: $breadcrumb-item-color;
    display: inline-block;
    margin: 0;
    padding: $breadcrumb-item-padding;

    &:not(:last-child) {
      margin: $breadcrumb-item-margin;

      a {
        color: $breadcrumb-item-color;
      }
    }

    &:not(:first-child) {
      &::before {
        color: $breadcrumb-item-color-sep;
        content: "/";
        padding: $breadcrumb-item-padding-sep;
      }
    }
  }
}
