// Buttons
.btn {
  appearance: none;
  background: $btn-bg;
  border: $btn-border;
  border-radius: $btn-border-radius;
  color: $btn-color;
  cursor: pointer;
  display: inline-block;
  font-size: $btn-font-size;
  height: $btn-height;
  line-height: $btn-line-height;
  outline: none;
  padding: $btn-padding;
  text-align: center;
  text-decoration: none;
  transition: background 0.2s, border 0.2s, box-shadow 0.2s, color 0.2s;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  &:focus {
    @include control-shadow();
  }
  &:focus,
  &:hover {
    background: $btn-bg-hover;
    border-color: $btn-border-color-hover;
    text-decoration: none;
  }
  &:active,
  &.active {
    background: $btn-bg-active;
    border-color: $btn-border-color-active;
    color: $btn-color-active;
    text-decoration: none;
    &.loading {
      &::after {
        border-bottom-color: $btn-loading-border-bottom-color-active;
        border-left-color: $btn-loading-border-left-color-active;
      }
    }
  }
  &[disabled],
  &:disabled,
  &.disabled {
    cursor: default;
    opacity: 0.5;
    pointer-events: none;
  }

  // Button Primary
  &.btn-primary {
    background: $btn-primary-bg;
    border-color: $btn-primary-border-color;
    color: $btn-primary-color;
    &:focus,
    &:hover {
      background: $btn-primary-bg-hover;
      border-color: $btn-primary-border-color-hover;
      color: $btn-primary-color-hover;
    }
    &:active,
    &.active {
      background: $btn-primary-bg-active;
      border-color: $btn-primary-border-color-active;
      color: $btn-primary-color-active;
    }
    &.loading {
      &::after {
        border-bottom-color: $btn-primary-loading-border-bottom-color;
        border-left-color: $btn-primary-loading-border-left-color;
      }
    }
  }

  // Button Colors
  &.btn-success {
    @include button-variant($success-color);
  }

  &.btn-error {
    @include button-variant($error-color);
  }

  // Button Link
  &.btn-link {
    background: transparent;
    border-color: transparent;
    color: $btn-link-color;
    &:focus,
    &:hover,
    &:active,
    &.active {
      color: $btn-link-color-hover;
    }
  }

  // Button Sizes
  &.btn-sm {
    font-size: $btn-font-size-sm;
    height: $btn-height-sm;
    padding: $btn-padding-sm;
  }

  &.btn-lg {
    font-size: $btn-font-size-lg;
    height: $btn-height-lg;
    padding: $btn-padding-lg;
  }

  // Button Block
  &.btn-block {
    display: block;
    width: 100%;
  }

  // Button Action
  &.btn-action {
    width: $btn-action-width;
    padding-left: 0;
    padding-right: 0;

    &.btn-sm {
      width: $btn-action-width-sm;
    }

    &.btn-lg {
      width: $btn-action-width-lg;
    }
  }

  // Button Clear
  &.btn-clear {
    background: transparent;
    border: 0;
    color: currentColor;
    height: $btn-clear-height;
    line-height: $btn-clear-line-height;
    margin-left: $btn-clear-margin-left;
    margin-right: -2px;
    opacity: 1;
    padding: $btn-clear-padding;
    text-decoration: none;
    width: $btn-clear-width;

    &:focus,
    &:hover {
      background: $btn-clear-bg-hover;
      opacity: 0.95;
    }

    &::before {
      content: "\2715";
    }
  }
}

// Button groups
.btn-group {
  display: inline-flex;
  flex-wrap: wrap;

  .btn {
    flex: 1 0 auto;
    &:first-child:not(:last-child) {
      border-bottom-right-radius: 0;
      border-top-right-radius: 0;
    }
    &:not(:first-child):not(:last-child) {
      border-radius: 0;
      margin-left: $btn-group-btn-margin-left;
    }
    &:last-child:not(:first-child) {
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
      margin-left: $btn-group-btn-margin-left;
    }
    &:focus,
    &:hover,
    &:active,
    &.active {
      z-index: $btn-group-btn-zindex;
    }
  }

  &.btn-group-block {
    display: flex;

    .btn {
      flex: 1 0 0;
    }
  }
}
