// Chips
.chip {
  align-items: center;
  background: $chip-bg;
  border-radius: 5rem;
  display: inline-flex;
  font-size: 90%;
  height: $chip-height;
  line-height: $chip-line-height;
  margin: $chip-margin;
  max-width: $chip-max-w;
  overflow: hidden;
  padding: $chip-padding;
  text-decoration: none;
  text-overflow: ellipsis;
  vertical-align: middle;
  white-space: nowrap;

  &.active {
    background: $chip-bg-active;
    color: $chip-color-active;
  }

  .avatar {
    margin-left: $chip-avatar-margin-left;
    margin-right: $chip-avatar-margin-right;
  }

  .btn-clear {
    border-radius: 50%;
    transform: scale(0.75);
  }
}
