// Codes
code {
  @include label-base();
  @include label-variant($code-label-color, $code-label-bg);
  font-size: 85%;
}

.code {
  border-radius: $code-border-radius;
  color: $code-font-color;
  position: relative;

  &::before {
    color: $code-color-before;
    content: attr(data-lang);
    font-size: $code-font-size-before;
    position: absolute;
    right: $code-right-before;
    top: $code-top-before;
  }

  code {
    background: $code-bg;
    color: inherit;
    display: block;
    line-height: 1.5;
    overflow-x: auto;
    padding: 1rem;
    width: 100%;
  }
}
