// Empty states (or Blank slates)
.empty {
  background: $empty-bg;
  border-radius: $empty-border-radius;
  color: $empty-color;
  text-align: center;
  padding: $empty-padding;

  .empty-icon {
    margin-bottom: $empty-icon-margin-bottom;
  }

  .empty-title,
  .empty-subtitle {
    margin: $empty-title-margin;
  }

  .empty-action {
    margin-top: $empty-action-margin-top;
  }
}
