// Labels
.label {
  @include label-base();
  @include label-variant($label-color, $label-bg);
  display: inline-block;

  // Label rounded
  &.label-rounded {
    border-radius: 5rem;
    padding-left: 0.4rem;
    padding-right: 0.4rem;
  }

  // Label colors
  &.label-primary {
    @include label-variant($label-primary-color, $label-primary-bg);
  }

  &.label-secondary {
    @include label-variant($label-secondary-color, $label-secondary-bg);
  }

  &.label-success {
    @include label-variant($label-success-color, $label-success-bg);
  }

  &.label-warning {
    @include label-variant($label-warning-color, $label-warning-bg);
  }

  &.label-error {
    @include label-variant($label-error-color, $label-error-bg);
  }
}
