// Menus
.menu {
  @include shadow-variant(0.05rem);
  background: $menu-bg;
  border-radius: $menu-border-radius;
  list-style: none;
  margin: 0;
  min-width: $menu-min-width;
  padding: $menu-padding;
  transform: $menu-transform;
  z-index: $menu-zindex;

  &.menu-nav {
    background: transparent;
    box-shadow: none;
  }

  .menu-item {
    margin-top: 0;
    padding: $menu-item-padding;
    position: relative;
    text-decoration: none;

    & > a {
      border-radius: $menu-border-radius;
      color: inherit;
      display: block;
      margin: $menu-item-link-margin;
      padding: $menu-item-link-padding;
      text-decoration: none;
      &:focus,
      &:hover {
        background: $menu-item-link-bg-hover;
        color: $menu-item-link-color-hover;
      }
      &:active,
      &.active {
        background: $menu-item-link-bg-active;
        color: $menu-item-link-color-active;
      }
    }

    .form-checkbox,
    .form-radio,
    .form-switch {
      margin: $menu-item-form-margin;
    }

    & + .menu-item {
      margin-top: $menu-item-margin-top;
    }
  }

  .menu-badge {
    align-items: center;
    display: flex;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;

    .label {
      margin-right: $menu-badge-label-margin-right;
    }
  }
}
