// Modals
.modal {
  align-items: center;
  bottom: 0;
  display: none;
  justify-content: center;
  left: 0;
  opacity: 0;
  overflow: hidden;
  padding: $modal-padding;
  position: fixed;
  right: 0;
  top: 0;

  &:target,
  &.active {
    display: flex;
    opacity: 1;
    z-index: $modal-zindex;

    .modal-overlay {
      background: $modal-overlay-bg;
      bottom: 0;
      cursor: default;
      display: block;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
    }

    .modal-container {
      animation: slide-down 0.2s ease 1;
      z-index: $modal-container-zindex;
    }
  }

  &.modal-sm {
    .modal-container {
      max-width: $modal-container-max-width-sm;
      padding: $modal-container-padding-sm;
    }
  }

  &.modal-lg {
    .modal-overlay {
      background: $modal-overlay-bg-lg;
    }

    .modal-container {
      box-shadow: none;
      max-width: $modal-container-max-width-lg;
    }
  }
}

.modal-container {
  @include shadow-variant(0.2rem);
  background: $modal-container-bg;
  border-radius: $modal-container-border-radius;
  display: flex;
  flex-direction: column;
  max-height: 75vh;
  max-width: $modal-container-max-width;
  padding: $modal-container-padding;
  width: 100%;

  &.modal-fullheight {
    max-height: 100vh;
  }

  .modal-header {
    color: $modal-header-color;
    padding: $modal-header-padding;
  }

  .modal-body {
    overflow-y: auto;
    padding: $modal-body-padding;
    position: relative;
  }

  .modal-footer {
    padding: $modal-footer-padding;
    text-align: right;
  }
}
