// Navs
.nav {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: $nav-margin;

  .nav-item {
    a {
      color: $nav-item-color;
      padding: $nav-item-padding;
      text-decoration: none;
      &:focus,
      &:hover {
        color: $nav-item-hover-color;
      }
    }
    &.active {
      & > a {
        color: $nav-item-active-color;
        font-weight: bold;
        &:focus,
        &:hover {
          color: $nav-item-active-hover-color;
        }
      }
    }
  }

  & .nav {
    margin-bottom: $nav-nav-margin-bottom;
    margin-left: $nav-nav-margin-left;
  }
}
