// Pagination
.pagination {
  display: flex;
  list-style: none;
  margin: $pagination-margin;
  padding: $pagination-padding;

  .page-item {
    margin: $pagination-item-margin;

    span {
      display: inline-block;
      padding: $pagination-item-span-padding;
    }

    a {
      border-radius: $pagination-item-border-radius;
      display: inline-block;
      padding: $pagination-item-padding;
      text-decoration: none;
      &:focus,
      &:hover {
        color: $pagination-item-color-hover;
      }
    }

    &.disabled {
      a {
        cursor: default;
        opacity: 0.5;
        pointer-events: none;
      }
    }

    &.active {
      a {
        background: $pagination-item-bg-active;
        color: $pagination-item-color-active;
      }
    }

    &.page-prev,
    &.page-next {
      flex: 1 0 50%;
    }

    &.page-next {
      text-align: right;
    }

    .page-item-title {
      margin: 0;
    }

    .page-item-subtitle {
      margin: 0;
      opacity: 0.5;
    }
  }
}
