// Panels
.panel {
  border: $panel-border;
  border-radius: $panel-border-radius;
  display: flex;
  flex-direction: column;

  .panel-header,
  .panel-footer {
    flex: 0 0 auto;
    padding: $panel-header-padding;
  }

  .panel-nav {
    flex: 0 0 auto;
  }

  .panel-body {
    flex: 1 1 auto;
    overflow-y: auto;
    padding: $panel-body-padding;
  }
}
