// Tabs
.tab {
  align-items: center;
  border-bottom: $tab-border-bottom;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: $tab-margin;

  .tab-item {
    margin-top: 0;

    a {
      border-bottom: $tab-item-border-bottom;
      color: inherit;
      display: block;
      margin: $tab-item-margin;
      padding: $tab-item-padding;
      text-decoration: none;
      &:focus,
      &:hover {
        color: $tab-item-color-hover;
      }
    }
    &.active a,
    a.active {
      border-bottom-color: $tab-item-border-bottom-color-active;
      color: $tab-item-color-active;
    }

    &.tab-action {
      flex: 1 0 auto;
      text-align: right;
    }

    .btn-clear {
      margin-top: $tab-clear-margin-top;
    }
  }

  &.tab-block {
    .tab-item {
      flex: 1 0 0;
      text-align: center;

      a {
        margin: 0;
      }

      .badge {
        &[data-badge]::after {
          position: absolute;
          right: $tab-block-badge-right;
          top: $tab-block-badge-top;
          transform: translate(0, 0);
        }
      }
    }
  }

  &:not(.tab-block) {
    .badge {
      padding-right: 0;
    }
  }
}
