// Toasts
.toast {
  @include toast-variant($dark-color);
  border: $toast-border;
  border-radius: $toast-radius;
  color: $toast-color;
  display: block;
  padding: $toast-padding;
  width: 100%;

  &.toast-primary {
    @include toast-variant($toast-primary-color);
  }

  &.toast-success {
    @include toast-variant($toast-success-color);
  }

  &.toast-warning {
    @include toast-variant($toast-warning-color);
  }

  &.toast-error {
    @include toast-variant($toast-error-color);
  }

  a {
    color: $toast-link-color;
    text-decoration: underline;

    &:focus,
    &:hover,
    &:active,
    &.active {
      opacity: 0.75;
    }
  }

  .btn-clear {
    margin: $toast-clear-margin;
  }

  p {
    &:last-child {
      margin-bottom: 0;
    }
  }
}
