// Tooltips
.tooltip {
  position: relative;
  &::after {
    background: $tooltip-bg;
    border-radius: $tooltip-radius;
    bottom: 100%;
    color: $tooltip-color;
    content: attr(data-tooltip);
    display: block;
    font-size: $tooltip-font-size;
    left: 50%;
    max-width: $tooltip-max-width;
    opacity: 0;
    overflow: hidden;
    padding: $tooltip-padding;
    pointer-events: none;
    position: absolute;
    text-overflow: ellipsis;
    transform: $tooltip-transform-top;
    transition: opacity 0.2s, transform 0.2s;
    white-space: pre;
    z-index: $tooltip-zindex;
  }
  &:focus,
  &:hover {
    &::after {
      opacity: 1;
      transform: $tooltip-transform-top-hover;
    }
  }
  &[disabled],
  &.disabled {
    pointer-events: auto;
  }

  &.tooltip-right {
    &::after {
      bottom: 50%;
      left: 100%;
      transform: $tooltip-transform-right;
    }
    &:focus,
    &:hover {
      &::after {
        transform: $tooltip-transform-right-hover;
      }
    }
  }

  &.tooltip-bottom {
    &::after {
      bottom: auto;
      top: 100%;
      transform: $tooltip-transform-bottom;
    }
    &:focus,
    &:hover {
      &::after {
        transform: $tooltip-transform-bottom-hover;
      }
    }
  }

  &.tooltip-left {
    &::after {
      bottom: 50%;
      left: auto;
      right: 100%;
      transform: $tooltip-transform-left;
    }
    &:focus,
    &:hover {
      &::after {
        transform: $tooltip-transform-left-hover;
      }
    }
  }
}
